<a href="https://colab.research.google.com/github/Provatiscus/Coursera_Capstone/blob/master/Capstone_Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook will be mainly used for the capstone project.

In [154]:
import numpy as np
import pandas as pd

In [155]:
print( "Hello Capstone Project Course!")

Hello Capstone Project Course!

We import BeautifulSoup that we will use to scrape the Wikipedia page
We import urllib.request which will be use to download the Wikipedia page html code

In [ ]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
html = urlopen("http://www.google.com/").read()
print(html)
quote_page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = urlopen(quote_page)
soup = BeautifulSoup(page, 'html.parser')
print(soup)

In [38]:
import pandas as pd
import numpy as np

Creating the dataframe df

In [139]:
df = pd.DataFrame(columns = ["Postal Code", "Borough", "Neighbourhood"])
df

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

We are filling the dataframe with a single line of code thanks to BeautifulSoup

In [140]:
for i, tr in enumerate(soup.find_all('tr')[1:-5]):
  df.loc[i] = [tr.find_all('td')[i].text.replace('\n', '') for i in range(3)]

In [141]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

We replace the 'Not assigned with zeros'.

In [142]:
df.replace('Not assigned', 0, inplace = True)
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A                 0                          0
1         M2A                 0                          0
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

We drop all lines with the Borough not assigned and we verify that all the Neighbourhoods are filled

In [175]:
df = df.loc[df['Borough']!=0]
print((df["Neighbourhood"] == 0).sum())
df.reset_index(inplace = True)
df.head()

0

   index  ...                                Neighbourhood
0      2  ...                                    Parkwoods
1      3  ...                             Victoria Village
2      4  ...                    Regent Park, Harbourfront
3      5  ...             Lawrence Manor, Lawrence Heights
4      6  ...  Queen's Park, Ontario Provincial Government

[5 rows x 4 columns]

We print the shape of the dataframe as expected

In [156]:
print( "the shape of the DataFrame is: ", df.shape)

the shape of the DataFrame is:  (103, 3)